{% extends "core/base.html" %}
{% load static %}
{% block title %} {{ page.title }} {%endblock%}
{% block extra_head %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.sub_title }} - {{ page.title }}">
<meta property="og:image" content="{% if page.img %} {{ page.img.url }} {% else %} {% static 'favicon/apple-touch-icon.png' %} {% endif %}">
<meta name="twitter:card" content="summary_large_image">
{% endblock extra_head %}

{% block content %}
<!--Main layout-->
  <main class="mt-5 pt-5">
    <div class="container bg">
      <!--Section: Cards-->
      <section class="text-center">
        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">
          <!--Grid column-->
         
          <div class="col-lg-12 col-md-10 mb-8">
            <!--Card-->
            <div class="card">
              <!--Title-->
              <div class="card-header">
                <h4 class="card-title">{{page.title}}</h4>
              </div>
              <!--Card content-->
              <div class="card-body">
                <!--Card image-->
                {% if page.img %}
                  <img src="{{page.img.url}}" class="img-fluid card-img" alt="{{page.title}}">
                {% endif %}
                <!--Text-->
                <p class="card-text text-justify">
                  {{ page.body|safe }}
                </p>
              </div>
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->


        </div>
        <!--Grid row-->
      </section>
      <!--Section: Cards-->

    </div>
  </main>
  <!--Main layout-->


  {% endblock content %}

  {% block extra_body %}
  
  {% endblock extra_body %}
  {% block extrajs %}

  {% endblock extrajs %}